@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: url('../../public/img/chat-gpt-background.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0 0 50px;
    overflow: hidden;
}

h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.chat-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    position: relative;
    width: 620px;
    max-width: 100%;
    height: 600px;
}

.with-overflow {
    padding: 0 15px;
    height: 532px;
    overflow-y: auto;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    box-shadow: 0 15px 5px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 20px;
}

.message.left {
    padding: 15px 20px 15px 70px;
}

.message.right {
    align-self: flex-end;
    padding: 15px 70px 15px 20px;
}

.logo {
    border-radius: 50%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
    object-fit: cover;
    position: absolute;
    left: 10px;
    top: -10px;
    width: 50px;
    height: 50px;
}

.message.right .logo {
    left: auto;
    right: 10px;
}

.message p {
    margin: 0;
}

.text_input {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    width: 100%;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

input#question {
    border-radius: 20px 0 20px 20px !important;
}

button {
    position: absolute;
    right: 7px;
    bottom: 5px;
    border-radius: 20px 0 20px 20px !important;
}
